[user]
	email = ~EMAIL~
	name = Alan Mayhew

[core]
	editor = vim

[alias]
	st = status
    co = checkout
    ai = add -i
    stdiff = diff --staged
    stl = stash list
    sts = "!f() { git stash show -p stash@{$1}; }; f"

[color]
    status = auto

[color "status"]
    branch = green
    added = green
    changed = yellow
    untracked = magenta
    deleted = red

[push]
	default = simple

[credential]
    helper = cache --timeout 28800
