[user]
	email = ~EMAIL~
	name = Alan Mayhew

[core]
	editor = vim

[alias]
	st = status
    co = checkout
    stdiff = diff --staged

[color]
    status = auto

[color "status"]
    branch = green
    added = green
    changed = yellow
    untracked = magenta
    deleted = red

[push]
	default = simple

[credential]
    helper = cache --timeout 28800
